# to avoid possible recursion problems
.dotfiles

# neovim settings are separated
.config/nvim

# no need to backup last wallpaper used
bg-saved.cfg

# for python configs
.env
__pycache__
.mypy_cache

